<<<<<<< HEAD
﻿@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Some Personal Links</title>
    </head>
    <body>
        <ul>
            <li><a href="https://stevenzhaocode.visualstudio.com/">Visual Studio Online</a></li> 
            <li><a href="https://github.com/StevenXiaoZhao">GitHub</a></li> 
            <li><a href="http://www.weibo.com/superhappyfly">新浪微博</a></li> 
            <li><a href="http://blog.sina.com.cn/csxiaofeizhao">新浪博客</a></li> 
        </ul>
    </body>
</html>
=======
﻿@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Some Personal Links</title>
    </head>
    <body>

        <a href="https://stevenzhaocode.visualstudio.com/">Visual Studio Online</a> 
        <a href="https://github.com/StevenXiaoZhao">GitHub</a> 
    </body>
</html>
>>>>>>> c40e365373ba58d1c4f199631118a688e2256da7
