@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Some Personal Links</title>
    </head>
    <body>

        <a href="https://stevenzhaocode.visualstudio.com/">Visual Studio Online</a> 
        <a href="https://github.com/StevenXiaoZhao">GitHub</a> 
    </body>
</html>
