@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Some Good Sites</title>
    </head>
    <body>
        <ul class="Links">
            <li><a href="https://oj.leetcode.com/">LeetCode Online Judge</a></li>
            <li><a href="http://bond/doc/manual/bond_cpp.html">Bond</a></li>
            <li><a href="http://blog.csdn.net/zouxy09/article/details/8775360">Deep Learning</a></li> 
            <li><a href="http://text-compare.com/">Text Compare</a></li> 
            <li><a href="http://blog.sina.com.cn/csxiaofeizhao">An Architecture for Fast and General Data Processing
on Large Clusters</a></li>
            <li><a href="https://www.autoitscript.com/site/autoit/graphics//">Auto It</a></li> 
            <li><a href="http://www.52ml.net/">我爱机器学习</a></li>
            <li><a href="http://www.cnblogs.com/zhenyulu/articles/36058.aspx">C# 设计模式</a></li> 
        </ul>
    </body>
</html>
